.InvoicesProcessedCard {
    background-color: white;
    border-radius: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.InvoicesProcessedCard .number {
    font-size: 4rem;
    font-weight: 100;
}

.InvoicesProcessedCard .text {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 5%;
}