.Navbar {
    background-color: #3b55e6;
    height: 10%;
    width: 100%;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar .title {
    font-size: 1.6rem;
    margin-left: 1.5%;
    font-weight: 200;
}

.Navbar .profilePic {
    height: 70%;
    border-radius: 50%;
    margin-right: 1.5%;
}