.InvoiceViewer {
    position: fixed;
    width: 60%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.InvoiceViewer .crossButton {
    position: absolute;
    z-index: 10;
    font-size: 1rem;
    right: 23px;
    top: 47px;
    cursor: pointer;
}